header {
    margin-top: 2rem;
}

header h1 {
    border-bottom: 1px solid rgb(205, 205, 205);
    font-size: 60px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

header h2 {
    margin-bottom: 30px;
}

ul.custom-nav li {
    list-style: none;
    display: inline-block;
    margin: 0 4px;
}

section {
    margin-bottom: 2rem;
}

form label {
    font-weight: bold;
}

.current-reservations .card,
.waiting-list .card {
    margin-bottom: 10px;
}

.current-reservations .card h2,
.waiting-list .card h2 {
    margin: 0;
}